/* Color palette */
:root {
    --primary: #1B335B;
    --secondary: #42638A;
    --tertiary: #D78C35;
}

.orange {
    --primary: #1B335B;
    --secondary: #42638A;
    --tertiary: #D78C35;
}

.green {
    --primary: #154043;
    --secondary: #518688;
    --tertiary: #9FCA5F;
} 

.brown {
    --primary: #39373C;
    --secondary: #76757C;
    --tertiary: #B2A38C;
}

.blue {
    --primary: #39322F;
    --secondary: #746B66;
    --tertiary: #1991C8;
}

.white {
    --primary: #081718;
    --secondary: #273F3F;
    --tertiary: #EAEAEA;
}

.dark {
    --primary: #FFFFFF;
    --secondary: #D5D5D5;
    --tertiary: #132425;
}

/* Font-police:
font-family: "Upheavtt";
font-family: "Roboto", serif;
font-family: "Permanent Marker", serif;
*/
@font-face {
    font-family: "Upheavtt";
    src: url("fonts/upheavtt.ttf");
    font-weight: normal;
    font-style: normal;
}

/* General */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    /* border: red;
    border-style: solid; */
    font-family: "Roboto", serif;
}

body {
    background-color: var(--tertiary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0;
    flex: 1;
    overflow-y: auto;
    min-height: calc(100vh - 120px);

    h2 {
        font-family: "Upheavtt";
        padding-bottom: 16px;
    }
}

/* Button */
.button {
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 8px 16px;
    border-radius: 15px;
    align-self: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 12pt;
    font-family: "Upheavtt";
}

/* Menu */
header {
    order: 2;
    border-top: 2px solid var(--primary);
    height: 60px;

    .navbar {
        overflow: hidden;
    }

    .laptop {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px;
        font-size: 30pt;

        i {
            color: var(--primary);
        } 

        .dropup-content {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            background-color: var(--primary);
            width: 99%;
            height: calc(100vh - 130px);
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            border-radius: 15px;

            a {
                color: var(--tertiary);
                font-family: "Upheavtt";
            }
        }

        .show {
            display: flex;
        }
    }
}

/* Index page */
.homeText {
    h2 {
        font-size: 32pt;
    }

    p {
        padding-top: 8px;
    }

    .homeMenu {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding-top: 16px;
    }
}

.logo {
    max-height: 300px;
    align-self: center;
    padding: 16px;
    margin-top: 24px;
}

/* Games pages */
.introGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 50pt;
    }

    p {
        margin-bottom: 16px;
    }
}

.none {
    display: none;
}

.flex {
    display: flex;
}

#restart {
    i {
        transition: all 0.7s ease;
    }
}

#restart:hover {
    i {
        transform: rotateZ(360deg);
    }
}

#message {
    font-size: 20pt;
    font-family: "Upheavtt";
    text-align: center;
    margin: 16px 0;
}

/* Tic tac toe */
.tictactoe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .setUp {
        flex-direction: column;

        input {
            margin-right: 8px;
        }
    
        label {
            font-family: "Upheavtt";
        }
    }

    #choosePlayerSign {
        flex-direction: row;
        margin-top: 0;
        
        label:first-of-type {
            margin-right: 24px;
        }
    }

    #board {
        visibility: hidden;
        order: 2;
        display: grid;
        margin-top: 16px;
        width: 250px;
        height: 250px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);

        .square {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Permanent Marker", serif;
            font-size: 40pt;
        }

        .middle {
            border-top: 4px solid var(--primary);
            border-bottom: 4px solid var(--primary);
        }
    
        .center {
            border-left: 4px solid var(--primary);
            border-right: 4px solid var(--primary);
        }
    }
}

/* Shifumi */
.shifumi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 400px);

    .player {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        input {
            margin-right: 8px;
        }

        label:not(last-of-type) {
            margin-right: 16px;
        }

        i {
            font-size: 40pt;
        }
    }

    .computer {
        .computerPlay {
            max-width: 300px;
        }
    }
}

/* Media queries */
@media (min-width: 375px) {
    .home {
        .homeMenu {
            display: flex;
        }
    }
}

@media (min-width: 768px) {
    .home {
        .logo {
        max-height: 350px;
        }
    }
    
    .tictactoe {
        #board {
        min-width: 380px;
        min-height: 380px;
        }
    }
}

@media (min-width: 1024px) {
    header {
        order: 1;
        border-top: none;
        background-color: var(--primary);
    
        .phone {
            display: none;
        }

        .laptop {
            display: flex;

            a {
                color: var(--tertiary);
                font-family: "Upheavtt";
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 40px;
            font-size: 30pt;
    
            i {
                color: var(--tertiary);
            } 
    
            .dropup-content {
                top: 63px;
            }
        }
    }

    main {
        order: 2;
        padding: 16px 40px 0;
    }

    .home {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        h2 {
            font-size: 45pt;
        }
    
        p {
            font-size: 16pt;
        }
    
        .logo {
            min-height: 550px;
            margin-top: 0;
            padding-right: 40px;
        }

        .homeText {
            order: 2;
        }
    }

    .tictactoe {
        #board {
            min-width: 425px;
            min-height: 425px;
        }
    }

    .button {
        margin: 32px 0;
        font-size: 20pt;
    }
}

@media (min-width: 1440px) {
    header {
        ul {
            padding: 8px 80px;
        }
    }
    main {
        padding: 16px 80px 0;
    }
}